/**
 * Licensed to The Apereo Foundation under one or more contributor license
 * agreements. See the NOTICE file distributed with this work for additional
 * information regarding copyright ownership.
 *
 *
 * The Apereo Foundation licenses this file to you under the Educational
 * Community License, Version 2.0 (the "License"); you may not use this file
 * except in compliance with the License. You may obtain a copy of the License
 * at:
 *
 *   http://opensource.org/licenses/ecl2.txt
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
 * WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.  See the
 * License for the specific language governing permissions and limitations under
 * the License.
 *
 */


// Timeline styles
// ----------------------------------------

.video-timeline {
    background: #f6f6f6;

    .tracks-wrapper {
        margin-top: 5px;
        background: #fff;
        padding: 5px;
        border: $thin-border-stroke $main-border-color;
    }

    .track-container {
        position: relative;
        overflow: hidden;
    }
}

// Layout
$right-margin: 1.5%;
$track-options-width: 10%;

// Output
$track-label-width: (100% - $right-margin) - $track-options-width;

.track-toolbar {
    @include clearfix();
    margin-bottom: 5px;

    .track-label,
    .track-options {
        float: left;
    }

    .track-label {
        width: $track-label-width;
        margin-right: $right-margin;
        font-size: 10px;
        line-height: 12px;
        font-weight: $weight-semibold;
        color: $medium-prim-color;
    }

    .track-options {
        width: $track-options-width;
    }

    .track-options-button {
        @include btn(white);
        padding: 1px 4px;
        float: right;
        @include fa-icon($fa-var-cog, before, inline-block, 0, 0, $medium-prim-color, 10px, normal, 0);
        &:before {
            vertical-align: middle;
        }
    }
}

.zoom-control {
    background: #fff;
    border: 1px solid $main-border-color;
    margin-top: 5px;
    padding: 5px;

    .label {
        width: $track-label-width;
        margin-right: $right-margin;
        font-size: 10px;
        line-height: 12px;
        font-weight: $weight-semibold;
        color: $medium-prim-color;
    }
    .field-of-vision {
        margin-bottom: 5px;
        border: 1px solid $main-border-color;
        height: 20px;

        .field {
            background: rgba(106, 183, 236, 0.5) none repeat scroll 0% 0%;
            height: 20px;
            position: relative;
        }

        .boundary {
            color: #2F88D2;
            position: absolute;
            top: 0px;
            line-height: 20px;

            &.from {
                left: 0px;
            }

            &.to {
                right: 0px;
            }
        }
    }
    .zoom-level {
        padding: 5px 0;
        width: 100%;
    }
    .boundaries {
        background: rgba(106, 183, 236, 0.5);
        position: absolute;
        top: 0px;
        line-height: 20px;

    }
}

.timeline-track {
    margin-bottom: 5px;

    border-bottom: 1px solid $main-border-color;
    padding-bottom: 10px;

    .segments {
        // background image set inline
        overflow: auto;
        background-repeat: no-repeat;
        background-size: 100% 50px;
        height: 50px;
        // needed for zoom offset
        position: relative;

        .segment-container {
            float: left;

            .segment {
                height: 48px;
                color: #666666;
                padding-right: 5px;
                text-align: right;
                background: rgba(193, 215, 238, 0.5);
                border: $thin-border-stroke #71b1f3;
                transition-property: background-color, background, border;
                transition-duration: 250ms;
                transition-timing-function: ease;

                a {
                    color: $l-blue;
                    line-height: 20px;

                    &.remove {
                        @include fa-icon($fa-var-times, before, inline, 0 0 0 0, 0, $l-blue, 12px);
                    }
                }


                &.selected {
                    background: rgba(106, 183, 236, 0.5);
                    border: $thin-border-stroke darken(#71b1f3, 2%);

                    a.remove {
                        @include fa-icon($fa-var-times, before, inline, 0 0 0 0, 0, darken($l-blue, 2%), 12px);
                    }
                }

                &.deleted {
                    background-color: rgba(243, 89, 82, 0.5);
                    border: $thin-border-stroke #f35952;

                    a.remove {
                        @include fa-icon($fa-var-times, before, inline, 0 0 0 0, 0, rgba(0,0,0,0.4), 12px);
                    }
                }
            }

            $segment-border-radius: 2px;

            &:first-child .segment {
                border-top-left-radius: $segment-border-radius;
                border-bottom-left-radius: $segment-border-radius;
            }

            &:last-child .segment {
                border-top-right-radius: $segment-border-radius;
                border-bottom-right-radius: $segment-border-radius;
            }

            &:not(:last-child) .segment {
                border-right: none;
            }
        }
    }
}

#cursor {
    width: 1px;
    height: 100%;
    background-color: #fb6257;
    box-shadow: 0 0 2px rgba(251, 98, 87, 0.25);
    position: absolute;
    top: 0;
    z-index: $z-80;

    .handle {
        bottom: 1px;
        left: -4px;
        width: 9px;
        height: 9px;
        border-radius: 9px;
        background-color: #c13832;
        position: absolute;
    }
}
